<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">ESPORTS</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>

                </div>
                <ul class="content-introl-list">
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">Liên Quân Mobile
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Liên Minh Tốc Chiến
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Thể Thao 24h
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Free Fire
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Lịch AIC 2022
                        </a>
                    </li>
                </ul>

                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div id="esports" class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">DTCL 14.2 TFT: Chi tiết bản cập nhật Đấu Trường Chân Lý mới nhất
                            </h2>
                            <p class="article-detail">Cập nhật DTCL 14.2: Riot Games sẽ đưa Đấu Trường Chân Lý mùa 3.5
                                trở lại với chế độ chơi mới cho đến hết phiên bản 14.04 (ngày 19/03).</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/esports/2.jpeg" alt="">
                                <p class="article-detail1">LMHT 14.2 LOL: Chi tiết bản cập nhật Liên Minh mới nhất tháng
                                    1/2024 </p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/esports/3.jpeg" alt="">
                                <p class="article-detail1">Danh sách Tướng Đấu Trường Chân Lý Mùa 3.5 trở lại </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/esports/4.jpeg" alt="">
                            <p class="article-detail1">Cập nhật TFT 14.2: Nerf Đao Phủ và Disco; 3 vị tướng được làm lại
                            </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/esports/5.jpeg" alt="">
                            <p class="article-detail1">Kết quả LPL Mùa Xuân 2024 mới nhất </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/esports/6.jpeg" alt="">
                            <p class="article-detail1">Bảng xếp hạng LPL Mùa Xuân 2024 mới nhất </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">E - Sports</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img width="100%" src="../assets/images/esports/7.jpeg" alt="">
                            <p class="article-detail1 p-2">Những MC xinh đẹp thổi hồn vào bộ môn Esports </p>
                            <p class="article-detail2 p-2">Nếu đã là fan cứng của các giải đấu Esports, chắc chắn bạn sẽ
                                không thể không biết đến những MC vừa xinh đẹp, vừa tài năng này. </p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/esports/8.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Các đội và tuyển thủ Esports Việt Nam kiếm tiền như
                                        thế nào?</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/esports/9.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Khiếm khuyết hai tay, nam streamer vẫn đạt rank cao
                                        PUBG Mobile
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/esports/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">6 tựa game bom tấn sẽ phát nổ trong năm 2020</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/esports/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">LMHT: Sức mạnh kinh khủng của Pantheon - Phần 2</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/esports/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">LMHT: Những pha hit and run uy lực của Draven - Phần
                                        2</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/esports/13.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Lịch thi đấu LPL Mùa Xuân 2024 mới nhất
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Cập nhật lịch thi đấu LPL
                                        Mùa Xuân 2024: Giải đấu cấp cao nhất của LMHT Trung Quốc sẽ chính thức khởi
                                        tranh vào ngày 15/01/2024 với sự tham gia của 17 đội tuyển.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/esports/14.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Mùa giải Đấu Trường Chân Lý nào sẽ hồi sinh trong bản cập nhật DTCL 14.2?</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Lần tái ngộ cập nhật giữa
                                        mùa đầu tiên của Đấu Trường Chân Lý sắp ra mắt, và hãy cùng chuẩn bị để khám phá
                                        vũ trụ với sự trở lại của mùa giải Thiên Hà.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/esports/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Bảng xếp hạng LEC Mùa Đông 2024, BXH LOL châu Âu mới nhất</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Bảng xếp hạng LEC 2024
                                        Winter. Cập nhật bảng xếp hạng và kết quả các trạn đấu LMHT châu Âu mới nhất qua
                                        từng vòng đấu.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/esports/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Kết quả LCK Mùa Xuân 2024 hôm nay mới nhất</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Kết quả LCK hôm nay. Cập
                                        nhật những diễn biến mới nhất của giải đấu Liên Minh Huyền Thoại hàng đầu Hàn
                                        Quốc: LCK Mùa Xuân 2024.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/esports/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Bảng xếp hạng VCS Mùa Xuân 2024 mới nhất </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Cập nhật BXH VCS 2024 Mùa
                                        Xuân, giải đấu chuyên nghiệp cấp cao nhất của Liên Minh Huyền Thoại Việt Nam. Sẽ
                                        có sự lật đổ trong mùa giải 2024?</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/esports/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">



                                        Tiền thưởng VCS Mùa Xuân 2024 tăng đột biến!</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Các đội tuyển LMHT Việt
                                        Nam tham gia thi đấu tại VCS 2024 Mùa Xuân sẽ nhận được tổng giá trị giải thưởng
                                        là 1.815.000.000 VNĐ.</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a>Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>