<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">Chạy & Fitness</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>

                </div>
                <ul class="content-introl-list">
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            VIHM Herbalife Nutrition

                        </a>
                    </li>

                </ul>

                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div id="fitness" class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">Hoàng Nguyên Thanh giành số điểm cao nhất sự nghiệp sau khi lập
                                kỷ lục quốc gia marathon nam
                            </h2>
                            <p class="article-detail">Tuyển thủ điền kinh Hoàng Nguyên Thanh có thêm một dấu mốc mới
                                trong sự nghiệp, đặc biệt là sau khi giành hạng 4 châu Á và phá kỷ lục quốc gia marathon
                                ngày 21/01/2024 vừa qua.</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/fitness/2.jpeg" alt="">
                                <p class="article-detail1">Giải chạy ở “cung đường trekking đẹp nhất Việt Nam” có áo
                                    hoàn thành cho 3 cự ly </p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/fitness/3.jpeg" alt="">
                                <p class="article-detail1">Liên đoàn Điền kinh Việt Nam chính thức công nhận kỷ lục quốc
                                    gia marathon nam của Hoàng Nguyên Thanh </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/fitness/4.jpeg" alt="">
                            <p class="article-detail1">Kỷ lục gia marathon Hoàng Nguyên Thanh khoe khoảnh khắc chung
                                khung hình với tài tử Châu Nhuận Phát

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/fitness/5.jpeg" alt="">
                            <p class="article-detail1">Cô gái Bình Phước trải lòng sau kỳ tích phá kỷ lục quốc gia
                                marathon nữ </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/fitness/6.jpeg" alt="">
                            <p class="article-detail1">Khi tên VĐV Việt Nam nằm trên bảng vàng giải marathon tầm cỡ thế
                                giới </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">Cardio & Fitness</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img width="100%" src="../assets/images/fitness/7.jpeg" alt="">
                            <p class="article-detail1 p-2">Chờ đợi đường chạy VIHM 2024 sôi động và chuyên nghiệp</p>
                            <p class="article-detail2 p-2">Giải bán marathon Quốc tế Việt Nam sẽ trở lại vào ngày 1/1
                                năm 2024. Lần thứ 2 được tổ chức, giải đấu hứa hẹn nhiều nét mới.</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/fitness/8.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Điền kinh Việt Nam đặt niềm tin vào ai cho ASIAD 19?
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/fitness/9.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Các cô gái Vàng của điền kinh Việt Nam vỡ òa cảm xúc
                                        sau tấm HCV lịch sử
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/fitness/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Màn trình diễn mang về tấm HCV 4x400m nữ giải Điền
                                        kinh châu Á của tổ tiếp sức Việt Nam</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/fitness/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Chinh phục đường chạy huyền thoại giữa núi rừng với
                                        Baden Mountain Marathon 2023</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/fitness/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">7000 VĐV chạy cùng "người vô diện" khám phá Tây Ninh
                                        tại giải Baden Mountain Marathon 2023</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/fitness/13.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Ngọc Hoa xô đổ kỷ lục quốc gia chạy 42,195km nữ tại giải marathon châu Á 2024
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Hoàng Thị Ngọc Hoa được
                                        ghi nhận là kỷ lục gia mới ở nội dung chạy 42,195km nữ khi vừa thiết lập thông
                                        số mới ấn tượng tại giải marathon vô địch châu Á sáng 21/1/2024 tại Hong Kong
                                        (Trung Quốc).</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/fitness/14.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Hoàng Nguyên Thanh phá sâu kỷ lục quốc gia chạy marathon sau hơn 20 năm chờ đợi
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Tuyển thủ Hoàng Nguyên
                                        Thanh vừa xuất sắc phá kỷ lục quốc gia chạy 42,195km nam tại giải marathon vô
                                        địch châu Á 2024, thông số mới xô đổ kỷ lục cũ tồn tại đã hơn 20 năm.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/fitness/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Giải chạy khám phá “thiên đường leo núi Tà Năng” công bố áo thi đấu 4 cự ly</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Giải chạy địa hình ở cung
                                        đường leo núi được đánh giá là “đẹp nhất Việt Nam” ở Tà Năng-Phan Dũng mang tên
                                        Tà Năng Trail Challenge 2024, công bố mẫu áo thi đấu của 4 cự ly chính thức.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/fitness/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Chờ Hoàng Nguyên Thanh phá kỷ lục quốc gia chạy 42,195km tại giải marathon châu
                                        Á 2024</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Nhà vô địch 21km Giải Bán
                                        Marathon Quốc tế Việt Nam 2024 tài trợ bởi Herbalife và HCV marathon nam SEA
                                        Games 31 Hoàng Nguyên Thanh được kỳ vọng có thể tạo ra bất ngờ tại giải marathon
                                        châu Á 2024 ở Hong Kong (Trung Quốc).</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/fitness/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Nexus Sport Events cùng VPBank tổ chức giải chạy âm nhạc đêm ở Cần Thơ
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Sau thành công của chuỗi
                                        những giải chạy thuộc hệ thống Vietnam Nexus Marathon Series (VNMS), Nexus Sport
                                        Events tiếp tục cùng VPBank tổ chức một giải chạy mới trong năm 2024, hứa hẹn
                                        bùng nổ về sự mới lạ, thú vị.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/fitness/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">



                                        Hoàng Nguyên Thanh ấn tượng gì khi dự giải marathon châu Á 2024?</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Quán quân Giải Bán
                                        Marathon Quốc tế Việt Nam 2024 tài trợ bởi Herbalife Hoàng Nguyên Thanh đã có
                                        mặt tại Hong Kong (Trung Quốc) chuẩn bị tranh tài ở giải marathon châu Á và ấn
                                        tượng ban đầu của anh về giải đấu này thế nào?</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a>Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>