<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">Bóng đá Việt Nam</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>

                </div>
                <ul class="content-introl-list">
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link"> Quanng Hải sang Pháp
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Lịch V Leaague 2023
                        </a>
                    </li>

                </ul>

                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div id="footballvn" class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">Tuyển Việt Nam rời Asian Cup 2023 với kỷ lục buồn về
                                thẻ đỏ, phạt đền
                            </h2>
                            <p class="article-detail">Đội tuyển Việt Nam rời Asian Cup 2023 với cảnh trắng tay
                                khi thua cả ba trận. Đội còn lập kỷ lục buồn về số thẻ đỏ cũng như những
                                quả phạt đền phải nhận lấy.</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/footballvn/2.jpeg" alt="">
                                <p class="article-detail1">Thua cả ba trận, HLV Troussier nói: “Việt Nam rời giải
                                    với hình ảnh tích cực” </p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/footballvn/3.jpeg" alt="">
                                <p class="article-detail1">Chấm điểm Việt Nam vs Iraq: Võ Minh Trọng, Khuất Văn
                                    Khang thấp nhất, bất ngờ với Quang Hải </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/footballvn/4.jpeg" alt="">
                            <p class="article-detail1">Thái Lan giành vé vào vòng 1/8 Asian Cup 2023 dù chưa đá
                                trận cuối vòng bảng
                            </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/footballvn/5.jpeg" alt="">
                            <p class="article-detail1">Tuyển Việt Nam và bốn lần gục ngã đau đớn phút bù giờ
                                trước Iraq </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/footballvn/6.jpeg" alt="">
                            <p class="article-detail1">Bảng xếp hạng Asian Cup 2023: Việt Nam đứng cuối bảng </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">Bóng đá Quốc Tế</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img width="100%" src="../assets/images/footballvn/7.jpeg" alt="">
                            <p class="article-detail1 p-2">Hé lộ lý do HLV Troussier không sử dụng Đỗ Hùng Dũng ở
                                trận thua Indonesia!</p>
                            <p class="article-detail2 p-2">Hé lộ lý do HLV Troussier không sử dụng Đỗ Hùng Dũng ở
                                trận thua Indonesia!</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/footballvn/8.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Buổi tập đầu tiên của ĐT bóng đá nữ Việt Nam tại
                                        Napier, New Zealand</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/footballvn/9.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Quang Hải: Từ bỏ hay “đạp” sóng dữ để trụ
                                        lại với châu Âu?
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/footballvn/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">HAGL và "giông tố" bủa vây trước thềm V.League
                                        2023</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/footballvn/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Bầu Đức bỏ V.League 2023, giữa HAGL và VPF: Ai đúng
                                        ai sai?</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/footballvn/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">AFF Cup: Tiền đạo số 1 Thái Lan Teerasil Dangda
                                        vẫn đang tập riêng</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/footballvn/13.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">



                                        Kết quả Việt Nam 2-3 Iraq: Sai lầm cầu thủ trẻ
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Kết quả bóng đá Asian
                                        Cup 2023 hôm nay mới nhất. Cập nhật kết quả trận bóng đá Việt Nam vs
                                        Iraq lúc 18h30 ngày 24/1 thuộc vòng bảng Asian Cup 2023.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/footballvn/14.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Còi vàng Việt Nam: Trọng tài Malaysia bắt chuẩn xác hai tình huống thẻ đỏ và bàn
                                        phản lưới nhà</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Còi vàng Việt Nam năm 2016
                                        Nguyễn Ngọc Châu giải thích về hai tình huống bàn phản lưới nhà của Iraq không
                                        được công nhận vì việt vị cùng tấm thẻ đỏ của Khuất Văn Khang.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/footballvn/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Trọng tài 9X được ví “vua thẻ đỏ” bắt trận Việt Nam vs Iraq</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Trọng tài sinh năm 1990
                                        người Malaysia Nazmi Nasaruddin, người được ví như vua thẻ đỏ, sẽ bắt
                                        chính trận đấu giữa Việt Nam vs Iraq thuộc lượt trận cuối bảng D Asian
                                        Cup 2023.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/footballvn/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Đội hình ra sân Việt Nam vs Iraq: HLV Troussier tung ra sân đến 5 cầu thủ
                                        lứa U23</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Đội hình ra sân trận Việt
                                        Nam vs Iraq diễn ra lúc 18h30 ngày 24/1 thuộc Asian Cup 2023. Xem danh sách cầu
                                        thủ ra sân dự kiến trận Việt Nam vs Iraq.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/footballvn/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Kết quả bóng đá Asian Cup 2023 hôm nay mới nhất
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Kết quả bóng đá Asian
                                        Cup 2023 hôm nay. Cập nhật kết quả bóng đá Asian Cup 2023 khu vực châu Á
                                        mới nhất.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/footballvn/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">



                                        Link xem trực tiếp bóng đá Nhật Bản vs Indonesia hôm nay</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Link xem trực tiếp bóng
                                        đá trận Nhật Bản vs Indonesia hôm nay, Asian Cup 2023. Cập nhật kênh phát
                                        sóng, link trực tuyến Nhật Bản vs Indonesia lúc 18h30 ngày 24/1.</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a>Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>