<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">Bóng đá Quốc tế</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>

                </div>
                <ul class="content-introl-list">
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link"> Bóng đá Anh
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Bóng đá Ý
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Tây Ban Nha
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Cup C1
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            Lịch World Cup 2022
                        </a>
                    </li>
                </ul>

                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div id="football" class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">Dự đoán Atletico Madrid vs Sevilla, 3h00 ngày 26/1, Cúp Nhà vua
                            </h2>
                            <p class="article-detail">Chuyên gia của tờ Marca đã đưa ra dự đoán kết quả trận đấu thuộc
                                vòng tứ kết Cúp Nhà vua, bao gồm cuộc đối đầu Atletico Madrid vs Sevilla.</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/football/2.jpeg" alt="">
                                <p class="article-detail1">Nhật Bản khiến Indonesia đối diện với nguy cơ bị loại khỏi
                                    Asian Cup </p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/football/3.jpeg" alt="">
                                <p class="article-detail1">Danh sách các đội lọt vào vòng 1/8 Cúp châu Phi: Nhà vô địch
                                    thẳng tiến </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/football/4.jpeg" alt="">
                            <p class="article-detail1">Cristiano Ronaldo sẽ không có trận đấu tay đôi với Messi
                            </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/football/5.jpeg" alt="">
                            <p class="article-detail1">Dự đoán Bilbao vs Barcelona, 3h30 ngày 25/1, Cúp Nhà vua </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/football/6.jpeg" alt="">
                            <p class="article-detail1">Brazil thắng trận mở màn vòng loại Olympic 2024 nhờ “thần đồng”
                                Endrick </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">Bóng đá Quốc Tế</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img width="100%" src="../assets/images/football/7.jpeg" alt="">
                            <p class="article-detail1 p-2">Hé lộ lý do HLV Troussier không sử dụng Đỗ Hùng Dũng ở
                                trận thua Indonesia!</p>
                            <p class="article-detail2 p-2">Hé lộ lý do HLV Troussier không sử dụng Đỗ Hùng Dũng ở
                                trận thua Indonesia!</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/football/8.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Buổi tập đầu tiên của ĐT bóng đá nữ Việt Nam tại
                                        Napier, New Zealand</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/football/9.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Quang Hải: Từ bỏ hay “đạp” sóng dữ để trụ
                                        lại với châu Âu?
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/football/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">HAGL và "giông tố" bủa vây trước thềm V.League
                                        2023</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/football/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Bầu Đức bỏ V.League 2023, giữa HAGL và VPF: Ai đúng
                                        ai sai?</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/football/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">AFF Cup: Tiền đạo số 1 Thái Lan Teerasil Dangda
                                        vẫn đang tập riêng</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/football/13.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">

                                        Kết quả vòng loại Olympic 2024 khu vực Nam Mỹ: Brazil thắng nhọc nhằn
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Kết quả vòng loại môn bóng
                                        đá nam vòng loại Olympic 2024 khu vực Nam Mỹ. Cập nhật kết quả các trận đấu của
                                        đội tuyển Argentina, Brazil, Uruguay...</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/football/14.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">

                                        Kịch bản khó tin giúp Cameroon lọt vào vòng 1/8 Cúp châu Phi</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Cameroon giành chiến thắng
                                        ở phút cuối trước Gambia (3-2) và đứng ở vị trí thứ hai bảng C. Trận đấu kết
                                        thúc với việc Gambia bị loại khỏi giải đấu.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/football/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">

                                        Bảng xếp hạng Cúp châu Phi mới nhất: Bờ Biển Ngà có nguy cơ bị loại</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Bảng xếp hạng mới nhất các
                                        bảng đấu ở Cúp bóng đá châu Phi 2023. Cập nhật bảng xếp hạng giải đấu đang diễn
                                        ra ở Bờ Biển Ngà.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/football/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">

                                        Kết quả Cúp châu Phi: Cameroon thoát hiểm, Algeria bị loại/p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Kết quả các trận đấu tại
                                        Cúp châu Phi 2023 đang diễn ra tại Bờ Biển Ngà. Cập nhật tỷ số và diễn biến các
                                        trận đấu tại CAN 2023.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/football/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">

                                        Đội hình tuyển Bờ Biển Ngà 2024: Danh sách cầu thủ dự Cúp châu Phi 2023
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Đội hình tuyển Bờ Biển Ngà
                                        năm 2024 mới nhất. Xem đội hình, danh sách cầu thủ chính thức của ĐT Bờ Biển Ngà
                                        tham dự Cúp châu Phi 2023.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/football/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">


                                        Đội hình ra sân Chelsea vs Middlesbrough: Mudryk đá chính</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Đội hình dự kiến trận đấu
                                        giữa Chelsea và Middlesbrough thuộc bán kết Carabao Cup vào lúc 3h00 ngày 24/1.
                                        Cập nhật đội hình trận Chelsea vs Middlesbrough.</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a>Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>