<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">Bóng rổ</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>
                </div>
                <ul class="content-introl-list">
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link"> Giải bóng rổ sinh viên toàn quốc NUC 2023
                        </a>
                    </li>
                    <li class="content-introl-item">
                        <a href="#" class="content-introl-link">
                            NBA 2023-24
                        </a>
                    </li>
                </ul>
                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">Milwaukee Bucks nhắm “vua bị lội ngược dòng 3-1" về làm HLV của
                                Giannis và Dame Lillard?</h2>
                            <p class="article-detail">“Trảm tướng” lần thứ hai trong 8 tháng, Milwaukee Bucks đang nhắm
                                đến một HLV giàu kinh nghiệm nhưng cũng nhiều điểm trừ liên quan đến thành tích
                                Playoffs.</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/baseketball/2.jpeg" alt="">
                                <p class="article-detail1">Milwaukee Bucks sa thải HLV dù đứng nhì toàn NBA: Vì không
                                    được lòng Giannis và Dame Lillard?</p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/baseketball/3.jpeg" alt="">
                                <p class="article-detail1">Không thể thắng khi thiếu LeBron, Los Angeles Lakers ngược
                                    dòng bất thành trước LA Clippers </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/baseketball/4.jpeg" alt="">
                            <p class="article-detail1">Đương kim MVP Joel Embiid ghi 70 điểm: "Chào đón" tân binh
                                Wembanyama đến NBA</p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/baseketball/5.jpeg" alt="">
                            <p class="article-detail1">Chùm ảnh: Khi phụ huynh cháy hết mình làm cầu thủ thứ 6 cho con
                                tại VSBL 2023-2024</p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/baseketball/6.jpeg" alt="">
                            <p class="article-detail1">Kevin Durant muốn "đua GOAT" với Michael Jordan và LeBron James:
                                Liệu có khả thi cho KD?</p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">Bóng rổ</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img src="../assets/images/baseketball/9.jpeg" alt="">
                            <p class="article-detail1 p-2">Tâm Đinh và Vincent Nguyễn hợp tác
                                truyền thông cùng nhãn hàng nổi tiếng Doppelherz</p>
                            <p class="article-detail2 p-2">Hai cầu thủ VBA đã ký hợp tác truyền thông cùng
                                Doppelherz - một thương hiệu về sức khoẻ con người của Tập đoàn Queisser Pharma
                                đến từ CHLB Đức.</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/baseketball/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Sẽ ra sao nếu một đội bóng rổ cũng giống như một
                                        công ty?</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/baseketball/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">"Cỗ máy úp rổ" Alonzo Stafford | Mixtape VBA 2022
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/baseketball/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">MVP và Defensive Player of The Year - Shane Henry |
                                        Mixtape VBA 2022</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/baseketball/13.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Madarious Gibbs | Mixtape VBA 2022</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/baseketball/14.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Top 10 pha bóng hay nhất của ĐT bóng rổ Việt Nam tại
                                        SEA Games 32</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/baseketball/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Russell Westbrook dẫn đầu
                                        cú run 22-0 giúp LA
                                        Clippers
                                        ngược dòng khó tin trước Brooklyn Nets</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Hai cầu thủ VBA đã ký
                                        hợp tác truyền thông cùng
                                        Doppelherz - một thương hiệu về sức khoẻ con người của Tập đoàn
                                        Queisser Pharma đến từ CHLB Đức.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/baseketball/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Joel Embiid sánh vai cùng
                                        huyền thoại NBA với chuỗi trận ghi điểm xuất sắc</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Sau danh hiệu MVP mùa
                                        trước, Joel Embiid vẫn đang thể hiện phong độ "khủng", đặc biệt là trong khâu
                                        ghi điểm ở mùa giải năm nay.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/baseketball/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Kết quả Playoff VSBL
                                        2023-2024 hôm nay mới nhất: Vòng tứ kết nảy lửa</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Lịch thi đấu và cập nhật
                                        kết quả giai đoạn Playoff của Vietnam Student's Basketball League - VSBL năm học
                                        2023/2024 mới nhất và chính xác nhất.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/baseketball/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Tứ kết VSBL 2023-2024 ngày
                                        21/1: Loạt trận ngược dòng đầy cảm xúc</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Không kém gì loạt trận
                                        THPT, những trận tứ kết THCS đã diễn ra cực kỳ kịch tích bao gồm 2 màn lội ngược
                                        dòng ngoạn mục để tìm ra top-4 đội mạnh nhất VSBL 2023-2024.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/baseketball/19.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Lịch thi đấu VSBL Playoff
                                        2023-2024 ngày 21/1: Top-8 THCS xung trận</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Lịch thi đấu loạt trận tứ
                                        kết VSBL Playoff 2023-2024 cấp độ THCS với sự tham gia của 8 đội bóng mạnh nhất,
                                        hứa hẹn những màn so tài nảy lửa.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/baseketball/20.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">Los Angeles Lakers lại
                                        “hiện nguyên hình", thua ngược Brooklyn Nets trong sự tức giận của CĐV</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Brooklyn có phong độ khá
                                        tệ trước khi hành quân đến sân của Los Angeles Lakers, dẫu vậy đội khách vẫn
                                        thắng ngược 18 điểm dù bị áp đảo hoàn toàn trong hai hiệp đầu.</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a >Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>