<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang tin tức thể thao</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="app">
        <div class="header">
            <ul class="header-list">
                <li style="line-height: 60px;" class="header-item"> <a href="#"> <img width="220px"
                            src="../assets/images/logo.png" alt=""> </a>
                </li>
                <li class="header-item"> <a href="index.html">Bóng rổ</a> </li>
                <li class="header-item"> <a href="martial.html">Võ Thuật</a> </li>
                <li class="header-item"> <a href="football.html">Bóng đá QT</a> </li>
                <li class="header-item"> <a href="footballvn.html">Bóng đá Việt Nam</a> </li>
                <li class="header-item"> <a href="fitness.html">Chạy và Fitness</a> </li>
                <li class="header-item"> <a href="esports.html">ESPORTS</a> </li>
                <li class="header-item"> <a href="#">Bóng chuyền</a> </li>
                <li class="header-item"> <a href="#">Môn thể thao khác</a> </li>
                <li class="header-item"> <a href="#">SHOP WEB THỂ THAO</a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-facebook"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-wifi"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li class="header-item"> <a href="#"><i class="fa-solid fa-user"></i></a> </li>


            </ul>
        </div>
        <div id="content" class="container-fluid row">
            <div class="col-md-8">
                <div class="content-head">
                    <div class="head-left">
                        <span class="slash">/</span>
                        <h4 class="content-name">Võ Thuật</h4>
                    </div>
                    <div class="content-right">
                        <span class="bars"> <i class="fa-solid fa-bars"></i></span>
                    </div>
                </div>

                <div class="content-article row">
                    <div class="col-md-7 p-0">
                        <div id="martials" class="article-1">
                            <div class="overlay"></div>
                            <h2 class="article-content">Francis Ngannou so găng với "cỗ máy knock-out" ngay sau khi
                                thượng đài cùng Anthony Joshua</h2>
                            <p class="article-detail">Cựu vương UFC Francis Ngannou dự kiến sẽ có màn so găng "nặng đô"
                                nữa ngay sau trận gặp Anthony Joshua và đối thủ nhiều khả năng là "cỗ máy knock-out" nổi
                                danh.</p>
                        </div>
                        <div class="row mt-3 ">
                            <div class="col-md-6 article-2">
                                <img width="100%" src="../assets/images/martialarts/2.jpeg" alt="">
                                <p class="article-detail1">Dmitry Bivol: Artur Beterbiev cũng có điểm yếu và tôi sẽ tìm
                                    ra nó </p>
                            </div>
                            <div class="col-md-6 article-3">
                                <img width="100%" src="../assets/images/martialarts/3.jpeg" alt="">
                                <p class="article-detail1">Tom Aspinall xác nhận được mời đấu ở UFC 300, đối thủ từ chối
                                </p>

                            </div>

                        </div>



                    </div>
                    <div class="col-md-5">
                        <div class="article-3">
                            <img width="100%" src="../assets/images/martialarts/4.jpeg" alt="">
                            <p class="article-detail1">Khamzat Chimaev tức tối vì Dana White không giữ lời hứa tranh đai
                            </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/martialarts/5.jpeg" alt="">
                            <p class="article-detail1">ONE 165 Martin Nguyễn: Để xem Garry Tonon đối phó ra sao với "quả
                                tên lửa" của tôi </p>

                        </div>
                        <div class="article-3">
                            <img width="100%" src="../assets/images/martialarts/6.jpeg" alt="">
                            <p class="article-detail1">Sean Strickland xác nhận về "tai nạn" khiến mình rách mắt ở UFC
                                297 </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img width="100%" src="../assets/images/baseketball/7.png" alt="">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img width="100%" src="../assets/images/baseketball/8.jpeg" alt="">

                    </div>
                    <div class="content-head mt-3">
                        <div class=" head-left">
                            <span class="slash">/</span>
                            <h4 class="content-name">Bóng rổ</h4>
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <img width="100%" src="../assets/images/martialarts/7.jpeg" alt="">
                            <p class="article-detail1 p-2">Muay Việt Nam đang đẩy nhanh tốc độ chuyên nghiệp hóa bằng
                                cách nào?</p>
                            <p class="article-detail2 p-2">Sau hơn 13 năm phát triển, Muay Việt Nam đang xuất hiện thêm
                                nhiều sàn đấu chuyên nghiệp quốc nội, mở ra cơ hội cho các võ sĩ.</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="p-0 article-sub-list">
                                <li class="article-sub-item mt-0">
                                    <img width="112px" height="80px" src="../assets/images/martialarts/8.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Trận đấu | Nguyễn Hà Minh vs. Mark John Yap | Sự
                                        kiện boxing VSP Pro 4 năm 2023</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/martialarts/9.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Buakaw Banchamek - 40 tuổi vẫn lên sàn Boxing tay
                                        trần
                                    </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/martialarts/10.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Nguyễn Trần Duy Nhất - "Đòi nợ" SEA Games, lên đỉnh
                                        thế giới </p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/martialarts/11.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Vì sao Thành Lê thất bại trước Tang Kai?</p>
                                </li>
                                <li class="article-sub-item">
                                    <img width="112px" height="80px" src="../assets/images/martialarts/12.jpeg" alt="">
                                    <p class="article-detail2 m-2 ">Thành Lê vs. Tang Kai - Hai cỗ máy knockout đối
                                        chiến</p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <ul class="p-0 article-sub-list">
                            <li class="article-sub-item mt-0">
                                <img width="240px" height="176px" src="../assets/images/martialarts/13.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        Sự thật Tyson Fury bị bạn đấu tập nổi tiếng "knock-out" trước thềm trận gặp Usyk
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Nhiều thông tin đang lan
                                        truyền rằng Tyson Fury bị bạn đấu tập nổi tiếng "knock-out và bỏ rơi" ở trại tập
                                        huấn chuẩn bị cho trận thống nhất đai kinh điển với Usyk.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/martialarts/14.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        Bố Tyson Fury tiết lộ "chiến thuật thi đấu" của con trai khi gặp Oleksandr Usyk
                                        ở trận thống nhất đai</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Ông bố John Fury vừa tiết
                                        lộ "cậu con trai khổng lồ" Tyson Fury sẽ phải thay đổi lối đánh nếu muốn hạ
                                        Oleksandr Usyk ở trận thống nhất đai boxing hạng nặng kinh điển tới đây.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/martialarts/15.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        ONE 165: Đại chiến Thái - Nhật tiếp diễn, Martin Nguyễn trở lại</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Cập nhật lịch thi đấu ONE
                                        Championship - ONE 165 với trận đấu tâm điểm giữa ĐKVĐ Kickboxing Superlek và
                                        Takeru, cùng sự trở lại của Martin Nguyễn.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/martialarts/16.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        Bị Dricus Du Plessis thách thức, Israel Adesanya nhắc lại "chuyện cũ"</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">Sự xuất hiện của Dricus Du
                                        Plessis ở ngôi vương hạng trung UFC cũng là lúc cựu vô địch Israel Adesanya nhắc
                                        về chuyện cũ giữa hai bên.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/martialarts/17.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        Soi chỉ số UFC 297: Dana White tin Sean Strickland đã thắng Dricus Du Plessis
                                    </p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">CEO Dana White không phải
                                        là người duy nhất tin rằng Sean Strickland nên được giữ lại đai vô địch sau màn
                                        thể hiện trước Dricus Du Plessis ở UFC 297.</p>


                                </div>

                            </li>
                            <li class="article-sub-item mt-4">
                                <img width="240px" height="176px" src="../assets/images/martialarts/18.jpeg" alt="">
                                <div class="inside ml-4">
                                    <p class="article-detail1 m-0" style="line-height: 1.5;">
                                        UFC 297: "Tê giác" Dricus Du Plessis vượt qua Sean Strickland, lấy đai vô địch
                                        hạng trung</p>
                                    <p class="time"><i class="fa-regular fa-clock"></i> <span class="ml-2">2 Ngày
                                            Trước</span> <span class="ml-2">NBA</span> </p>
                                    <p class="article-detail2 m-0 " style="line-height: 1.5;">UFC 297 đã chứng kiến màn
                                        thể hiện đầy bất ngờ của Dricus Du Plessis với chiến thắng tính điểm ngoạn mục
                                        trước Sean Strickland.</p>


                                </div>

                            </li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="head-right">
                    <span class="slash">/</span>
                    <h4 class="content-name">ĐỌC NHIỀU</h4>
                </div>
                <ul class="p-0 article-sub-list">
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/21.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">SNHM bóng chuyền Campuchia phát cuồng với hot boy Đức Hạnh cùng
                            biệt danh ấn tượng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/22.jpeg" alt="">
                        <p class="article-detail2  ml-2">Nhận định, soi kèo Syria vs Ấn Độ: Khan hiếm bàn thắng</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/23.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Chelsea vs Middlesbrough: Khó có bất ngờ</p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/24.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Nhận định, soi kèo Hong Kong vs Palestine: Hy vọng cuối cùng
                        </p>
                    </li>
                    <li class="article-sub-item mt-0">
                        <img width="112px" height="80px" src="../assets/images/baseketball/25.jpeg" alt="">
                        <p class="article-detail2 ml-2 ">Bóng chuyền Thanh Hóa bổ sung chuyền hai đầy tiềm năng tới từ
                            VTV Bình Điền Long An</p>
                    </li>
                </ul>
                <div class="calender">
                    <h5 class="calender-head"> <span class="calender-thidau"> LỊCH THI ĐẤU BÓNG ĐÁ </span></h5>
                    <ul class="calender-list">
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion.png" alt="">
                            <span>
                                UEFA Champions League
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/europa.png" alt="">
                            <span>

                                UEFA Europa League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/premier.jpg" alt="">
                            <span>

                                Premier League

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/laliga.jpeg" alt="">
                            <span>

                                Laliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/bundesliga.png" alt="">
                            <span>

                                Bundesliga

                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/seriea.png" alt="">
                            <span>
                                Seriea A
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/ligue1.png" alt="">
                            <span>
                                Ligue 1
                            </span>
                        </li>
                        <li class="calender-item">
                            <img width="20px" height="20px" src="../assets/images/baseketball/champion (1).png" alt="">
                            <span>

                                V-League

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-left">
                <p> Cơ quan chủ quản của mạng xã hội webthethao.vn: CÔNG TY CỔ PHẦN NỘI DUNG THỂ THAO
                    VIỆT</p>
                <p> 79 Hàng Trống, Q. Hoàn Kiếm, TP. Hà Nội.</p>
                <p>Địa chỉ văn phòng Hà Nội: số 25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <p>Điện thoại: 024.32669666</p>
                <p>Email: info@sport24h.com.vn</p>
                <p>VPĐD tại TP. Hồ Chí Minh Số 16A, đường Lê Hồng Phong, P.12, Q.10, TP.HCM</p>
                <p>Điện thoại: 028 6651 2019</p>
            </div>

            <div class="footer-center " style="margin: 0 12px;">
                <p class="text-base">GP số: 230/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 10/05/2022.</p>
                <p>Người chịu trách nhiệm nội dung: Bà Trần Thùy Chi</p>
                <p>
                    <a>Thỏa thuận chia sẻ nội dung.
                    </a>
                    <a> Chính
                        sách
                        bảo mật</a>
                </p>
                <p>
                    Báo giá quảng cáo: tải
                    tại đây
                </p>
                <p> Liên hệ quảng cáo, truyền thông, hợp tác kinh doanh: 0912 075 444</p>
                <p>Email: kinhdoanh@sport24h.com.vn</p>
                <p>25 BT2 Đạm Phương, bán đảo Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội.</p>
                <img src="../assets/images/baseketball/footer1.png" alt="">

            </div>

            <div class="footer-right">
                <img src="../assets/images/baseketball/footer.png" alt="">

            </div>

        </div>
    </div>

</body>

</html>